
<div class="row">
    <div class="col-md-6 offset-md-3 bg-light rounded-3 p-5">
        <form method="post" action="/home/newad">
            <div class="row">
                <div class="col-md-6">
                    <input type="text" placeholder="Name" class="form-control" name="name" />
                </div>
                <div class="col-md-6">
                    <input type="text" placeholder="Phone Number" class="form-control" name="phonenumber" />
                </div>
            </div>
            <br />
            <textarea name="description" class="form-control" rows="10" placeholder="Description"></textarea>
            <button class="btn btn-primary mt-2">Submit</button>
        </form>
    </div>
</div>
